* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Oculta a barra de rolagem no Chrome e no Safari */
body::-webkit-scrollbar {
    display: none;
}

body{
    background-image: linear-gradient(to right, #1C0436, #6A0572); /* Define um gradiente de fundo */
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


/* Estilos para o container */
.container-init {
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap; /* Adicionado para lidar com telas menores */
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    line-height: 40px;
}

/* Estilos para o texto */
.texto {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px; /* Adicionado para melhorar o espaçamento */
}

.texto h3 {
    font-size: 20px;
    font-weight: normal;
}

/* Estilos para o título */
.container-init h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilos para o parágrafo */
.container-init p {
    font-size: 1.6em;
    margin-bottom: 30px;
}



.title-skills {
    text-align: center;
    background-image: url(download.png);
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.title-skills h3 {
    font-weight: bold;
    position: relative;
    top: 200px;
    font-size: 35px;
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.skill {
    width: 100%;
    max-width: 450px; /* Largura máxima para cada habilidade */
    margin-bottom: 20px;
}

.skill-content {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 10px;
}

.text p,
.text span {
    margin: 0;
}

.htmlecss{
    width: 120px;
}

.skill-content span{
    margin-left: 10px;
}

.skill-bar {
    height: 10px;
    width: 0; /* Define a largura total da barra */
    background-color: #FF0095;
    border-radius: 5px;
    animation: fillAnimation 2s ease forwards; /* Aplica a animação de preenchimento */
}

.skill{
    font-weight: bold;
}

@keyframes fillAnimation {
    from {
        width: 0; /* Largura inicial da barra é 0 */
    }
    to {
        width: 100%; /* Largura final da barra é 100% */
    }
}

/* Animação para HTML5 & CSS3 */
@keyframes html-css-animation {
    from { width: 0; }
    to { width: 90%; }
}

/* Animação para JavaScript */
@keyframes javascript-animation {
    from { width: 0; }
    to { width: 70%; }
}

/* Animação para PHP */
@keyframes php-animation {
    from { width: 0; }
    to { width: 60%; }
}

/* Animação para Lua */
@keyframes lua-animation {
    from { width: 0; }
    to { width: 40%; }
}

/* Animação para MySQL */
@keyframes mysql-animation {
    from { width: 0; }
    to { width: 50%; }
}

/* Animação para Figma */
@keyframes figma-animation {
    from { width: 0; }
    to { width: 70%; }
}

/* Aplicando animações às barras de habilidade correspondentes */
.skill-bar.html-css {
    animation: html-css-animation 1s ease-in-out forwards;
}

.skill-bar.javascript {
    animation: javascript-animation 1s ease-in-out forwards;
}

.skill-bar.php {
    animation: php-animation 1s ease-in-out forwards;
}

.skill-bar.lua {
    animation: lua-animation 1s ease-in-out forwards;
}

.skill-bar.mysql {
    animation: mysql-animation 1s ease-in-out forwards;
}

.skill-bar.figma {
    animation: figma-animation 1s ease-in-out forwards;
}


/* Estilos para a imagem dentro do container */

main h1{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.card {
    width: 32rem;
    margin: 10px 10px; /* Adiciona margem entre os cards */
    background-color: #580642;
    border-radius: 15px;
    text-align: center;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.texts-contact{
    background-color: #151515;
}

.contact-section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    width: 70%;
    position: relative;
}

.contact-subtitle{
    text-align: center;
    color: #FF0077;
    font-weight: bold;
    padding-top: 20px;
    letter-spacing: 10px;
}

.contact-title {
    color: #ffffff; /* Cor do título */
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000; /* Contorno */
        text-align: center;
}

.contact-section p {
    margin-bottom: 10px;
    color: #ffffff; /* Cor do texto */
}

.contact-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-section ul li {
    margin-bottom: 5px;
}

.contact-section ul li a {
    color: #ffffff; /* Cor dos links */
    text-decoration: none;
}

.contact-section ul li a:hover {
    text-decoration: underline;
}


/* Estilos para o rodapé */
#rodape {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: white; 
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    border: none;
    bottom: 0;
    left: 0; /* Alterado para 0 para alinhar com a borda esquerda */
}

.rodapep{
    margin-top: 12px;
}

/* Estilos para dispositivos de tela menores, como tablets e smartphones */
@media only screen and (max-width: 768px) {
    .container-init {
        max-width: 100%; /* Altera a largura máxima para 100% */
        margin: 20px auto; /* Ajusta a margem */
        padding: 20px; /* Ajusta o preenchimento */
    }

    .skills{
        width: 98%;
    }

    .skill-content{
        margin-left: 10px;
    }

    .title-skills h3 {
        top: 100px; /* Ajusta a posição do título de habilidades */
        font-size: 30px; /* Reduz o tamanho do título */
    }

    .contact-section {
        width: 90%; /* Ajusta a largura da seção de contato */
        margin: 20px auto; /* Centraliza horizontalmente */
        padding: 20px; /* Adiciona preenchimento */
    }

    .card {
        width: 90%; /* Ajusta a largura dos cards */
        margin: 10px 5px; /* Centraliza os cards */
    }

    .navbar-custom {
        position: relative; /* Altera a posição para relativa */
        bottom: auto; /* Remove o posicionamento fixo na parte inferior */
        left: auto; /* Remove o posicionamento fixo na lateral esquerda */
        width: auto; /* Define a largura automática */
    }
}

/* Define configurações para dispositivos muito pequenos, como smartphones em modo paisagem */
@media only screen and (max-width: 480px) {
    .title-skills h3 {
        top: 50px; /* Ajusta a posição do título de habilidades */
        font-size: 25px; /* Reduz o tamanho do título */
    }
}
