@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --background: rgb(238 238 238);
    --foreground: #0A0A0A;
  }
   */

html {
    scroll-behavior: smooth;
}

/*
body 
{
    color: var(--foreground);
    background: var(--background);
    /* font-family: Arial, Helvetica, sans-serif; */


/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0A0A0A;
        --foreground: rgb(238 238 238);
}
} */
